// global transition css
.animate-bounce {
  animation: animate-bounce 2s cubic-bezier(0.6, 2.4, 0.55, 2.5) 1s infinite;
}

@keyframes animate-bounce {
  from,
  to {
    transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
  }

  50% {
    transform: translateY(1px);
    -ms-transform: translateY(1px);
    -webkit-transform: translateY(1px);
  }
}

.animate-twinkle {
  animation: animate-twinkle 2.2s cubic-bezier(0.6, 2.4, 0.55, 2.5) 1s infinite;
}

@keyframes animate-twinkle {
  from,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }
}

.animate-scale {
  animation: animate-scale 2.2s cubic-bezier(0.6, 2.4, 0.55, 2.5) 1s infinite;
}

@keyframes animate-scale {
  from,
  to {
    transform: scale(1.03);
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0.8;
  }
}

.animate-wave {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2073e83b;
  animation: animate-wave 1.5s linear infinite;
  border-radius: 50%;
}

@keyframes animate-wave {

  0% {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0.2;
  }

  50% {
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    opacity: 0.65;
  }

  100% {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    opacity: 0.2;
  }
}

.animate-rotation{
  animation: animate-rotation 10s linear infinite;
}

@keyframes animate-rotation {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.animate-move-up {
  animation: animate-move-up 2s cubic-bezier(0.6, 2.4, 0.55, 2.5) 1s infinite;
}

@keyframes animate-move-up {
  from,
  to {
    transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    opacity: 1;
  }

  50% {
    transform: translateY(1px);
    -ms-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    opacity: 0.9;
  }
}