// cover some element-plus styles
:root {
  --custom-breadcrumb-font-color: #fff;
}

.el-loading-mask {
  background-color: rgb(1 12 47 / 70%) !important;
}

.el-empty__image {
  opacity: 0.65;
}

.custom-breadcrumb-style {
  .el-breadcrumb__item {
    font-size: calc(20 * var(--app-base-unit));

    .el-icon {
      font-size: calc(20 * var(--app-base-unit));
    }

    &:last-child {
      .el-breadcrumb__inner {
        color: var(--custom-breadcrumb-font-color);

        &:hover {
          color: var(--custom-breadcrumb-font-color);
        }
      }
    }
  }

  .el-breadcrumb__inner {
    display: flex;
    align-items: center;
    color: var(--custom-breadcrumb-font-color);

    &:hover {
      color: var(--app-blue-color);
    }
  }

  .el-breadcrumb__separator {
    color: var(--custom-breadcrumb-font-color);
  }
}
