// cover some element-plus styles

.el-loading-mask {
  background-color: rgb(1 12 47 / 70%) !important;
}

.el-empty__image {
  opacity: 0.65;
}

// 自定义面包屑
.custom-breadcrumb-style {
  .el-breadcrumb {
    display: flex;
    align-items: center;
  }
  .el-breadcrumb__item {
    font-size: size(16);
    color: color(white);

    .el-icon {
      font-size: size(20);
    }

    &:last-child {
      .el-breadcrumb__inner {
        color: color(yellow);

        &:hover {
          color: color(white);
        }
      }
    }
  }

  .el-breadcrumb__inner.is-link {
    display: flex;
    align-items: center;
    color: color(white);

    &:hover {
      color: color(blue);
    }
  }

  .el-breadcrumb__separator {
    color: color(white);
  }

  .el-breadcrumb__inner.is-link,
  .el-breadcrumb__inner a {
    font-weight: normal;
  }
}
