@import "./screen-mixin.scss";

.screen-nav {
  &-container {
    position: fixed;
    bottom: size(2);
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    color: color(white);
    width: 60%;
    height: size(40);
    display: flex;
    justify-content: center;
    line-height: size(34);

    .nav-text {
      @include gradient-font(bottom, color(blue), color(white));
      font-weight: bold;
      font-size: size(20);
      cursor: pointer;
      padding: 0 10%;

      &:hover {
        @include gradient-font(bottom, color(yellow), color(white));
      }
    }
  }

  &__left,
  &__right {
    image-rendering: -webkit-optimize-contrast;

    &.is-active {
      .nav-text {
        @include gradient-font(bottom, color(white), color(white));
      }
    }
  }

  &__left {
    @include background-setting(
      "./../../../assets/images/nav-left-bg.png",
      50%,
      100%
    );
    background-position: right bottom;
    text-align: right;
    padding-right: 1%;

    &.is-active {
      background-image: url("./../assets/images/nav-left-active-bg.png");
    }
  }

  &__right {
    @include background-setting(
      "./../../../assets/images/nav-right-bg.png",
      50%,
      100%
    );
    background-position: left bottom;
    text-align: left;
    padding-left: 1%;

    &.is-active {
      background-image: url("./../assets/images/nav-right-active-bg.png");
    }
  }
}
