@mixin background-setting($path, $width, $height) {
    width: $width;
    height: $height;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("" + $path);
}

@mixin frame() {
    border: 1px solid #0851ad;
    background: rgba(0, 77, 255, 0.1);
    padding: size(10);
}

@mixin flex-align-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin gradient-font($drection, $color1, $color2) {
    background-image: -webkit-linear-gradient($drection, $color1, $color2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}