@mixin background-setting($path, $width, $height) {
  width: $width;
  height: $height;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("" + $path);
}

@mixin frame() {
  border: 1px solid #0851ad;
  background: rgba(0, 77, 255, 0.1);
  padding: size(10);
}

@mixin flex-align-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin gradient-font($drection, $color1, $color2) {
  background-image: -webkit-linear-gradient($drection, $color1, $color2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin line-title-set-unit() {
  :deep(.line-title-container) {
    .title {
      justify-content: space-between;
    }

    .unit {
      color: #fff;
      font-size: size(14);
    }
  }
}

@mixin pre-icon() {
  height: size(40);
  width: size(40);
  min-width: size(40);
  // background: #8675f9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: size(4);

  .iconfont {
    font-size: size(22);
  }
}

@mixin flex-space-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
