@mixin background-setting($url, $width, $height) {
    width: $width;
    height: $height;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url($url);
}

@mixin frame() {
    border: 1px solid #0851ad;
    background: rgba(0, 77, 255, 0.1);
    padding: calc(10 * var(--app-base-unit));
}

@mixin flex-align-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}