// global transition css

/* fade */
.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

/* fade-transform */
.fade-transform{
  &-leave-active,
  &-enter-active {
    transition: all .5s;
  }

  &-enter {
    opacity: 0;
    transform: translateX(-30px);
  }

  &-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }
}