$colors: (
  base: #236edd,
  bg: #0a0c35,
  blue: #1adfff,
  yellow: #ffe66d,
  white: #ffffff
);

$screen: (
  header-height: 55,
  nav-height: 40
);

@function color($name) {
  @return var(--app-color-#{"" + $name});
}

@function size($value) {
  @return calc(#{$value} * var(--app-base-unit));
}