$colors: (
  base: #236edd,
  bg: #06032f,
  blue: #01daff,
  yellow: #ffe66d,
  white: #ffffff
);

$screen: (
  header-height: 55,
  nav-height: 40,
  bg-color: #0a0d48,
);

@function color($name) {
  @return var(--app-color-#{"" + $name});
}

@function size($value) {
  @return calc(#{$value} * var(--app-base-unit));
}