@font-face {
  font-family: "iconfont"; /* Project id 3121595 */
  src: url('iconfont.woff2?t=1641568143134') format('woff2'),
       url('iconfont.woff?t=1641568143134') format('woff'),
       url('iconfont.ttf?t=1641568143134') format('truetype'),
       url('iconfont.svg?t=1641568143134#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-appyingyong:before {
  content: "\e61b";
}

.icon-webduan:before {
  content: "\e60b";
}

.icon-app:before {
  content: "\e6d7";
}

.icon-shejimeigong:before {
  content: "\e631";
}

.icon-home:before {
  content: "\e679";
}

.icon-locate:before {
  content: "\e6a4";
}

.icon-caiyang:before {
  content: "\e617";
}

